html, body { 
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
    display: flex;
    flex-direction: column;
	background: #52514e;
}

div#controls {
	padding: 10px;
	display: flex;
	gap: 5px;
	align-items: center;
}

div#map { 
	flex: 1;
	background: #52514e;
}